@media only screen and (max-width: 1500px){
  #section-5 {
    & article {
      & > img {
        width:50%;
      }
    }
  }
}



@media only screen and (max-width: 600px){

  h2 {
    font-size:2.5rem;
    line-height:3.5rem;
  }

  .drivebusiness {
    margin-top:25px !important;
  }

  #section-3 {
    & ul {
      & > li {
        width:90%;
        margin:0 auto 40px auto;
        //margin-bottom:40px;
        &:last-child {
          padding-bottom:2px;
        }
      }
    }
  }

  #section-5 {
    & article {
      & > img {
        width:100%;
      }
    }
  }

  #section-4 > article div > aside > span, #section-6 > article div > aside > span, #section-8 > article div > aside > span {
    font-size:2.5rem;
    line-height:3.5rem;
  }

  #section-5 > article img, #section-5 > article svg, #section-7 > article img, #section-7 > article svg, #section-9 > article img, #section-9 > article svg {
    margin-top:3vw;
  }

  #section-10 ul > li > img {
    max-width:200px;
  }

  a.nu__button {
    margin-top:25px;
  }

  #section-10{
    text-align: center;
    & ul{
      display: flex;
      flex-wrap: wrap;
      margin-top:50px;
      & > li{
        flex-grow: 1;
        flex-basis: 25%;
        min-height: 50px;
        //background: #efefef;
        margin: 0 $gutter $gutter 0;
        // & > img {
        //   max-width:280px;
        // }
        &:nth-child(3n+3){
          margin: 0 0 $gutter 0;
        }
        &:nth-child(1){
          & img {
          //  height:77px;
          margin-bottom:20px;
          }
        }
        &:nth-child(2){
          & img {
            height:139px;
          }
        }
        &:nth-child(3){
          & img {
            height:76px;
          }
        }
        &:nth-child(4){
          & img {
            height:58px;
          }
        }
        &:nth-child(5){
          & img {
            height:76px;
          }
        }
      }
    }
  }


  footer {
    & .wrapper {
      width:80vw;
      margin:0 10vw;
    }
  }
}
