// Theme Information
//--------------------------------------------//
$theme_name: "Government Relations";
$theme_uri: "#";
$theme_description: "Fully editable responsive theme.";
$theme_version: "1.0";
$theme_author: "Trent Gaffney";
$theme_author_uri: "http://www.northeastern.edu/marcom/";
$theme_license: "GPL";
$theme_tags: "Northeastern University, responsive-layout, custom post types, fully editable theme, fontawesome, SASS, jQuery, Codekit";
